*{
margin: 0px 0px 0px 0px ;
;
}

@font-face {
  font-family:karantinaL ;
  src: url(../src/fonts/Karantina-Light.ttf);
}

@font-face {
  font-family: karantinaB;
  src: url(../src/fonts/Karantina-Bold.ttf);
}

@font-face {
  font-family: karantina;
  src: url(../src/fonts/Karantina-Regular.ttf);
}

@font-face {
  font-family:suez ;
  src: url(../src/fonts/SuezOne-Regular.ttf);
}


 header {
  text-align: center;
  margin-top: 2rem;
  background-image: linear-gradient(to bottom, #eebd89, #d13abd);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
 }
  
 header h1 {
  font-family: karantinaB;
    font-size: 5rem ;
    color: whitesmoke;
   
 }

 #explain {
font-family: suez ;
letter-spacing: 1px;
color: aliceblue;
justify-content: flex-start;
display: flex;
flex-wrap: wrap;

 }
 
 body {
  background-color: black;
 }

 nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: grey;
  top: 0;
}

nav a {
font-family: karantina;
display: block;
text-align: center;
color: white;
text-decoration: none;
font-size: 2rem;
}

nav a:hover {
  background-image: linear-gradient(to bottom, #eebd89, #d13abd);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}