*{
margin: 0px 0px 0px 0px ;
;
}

@font-face {
  font-family:karantinaL ;
  src: url(../src/fonts/Karantina-Light.ttf);
}

@font-face {
  font-family: karantinaB;
  src: url(../src/fonts/Karantina-Bold.ttf);
}

@font-face {
  font-family: karantina;
  src: url(../src/fonts/Karantina-Regular.ttf);
}

@font-face {
  font-family:suez ;
  src: url(../src/fonts/SuezOne-Regular.ttf);
}

@font-face {
  font-family:asakim ;
  src: url(../src/fonts/asakim_bold-webfont.ttf);
}

 header h1{
  font-family: karantinaB;
  font-size: 5rem ;
  text-align: center;
  margin-top: 1rem;
  background-image: linear-gradient(to bottom, #eebd89, #d13abd);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
 }


 #explain h2 {
text-align: center;
font-family: asakim ;
font-size: 2rem;
color: aliceblue;
text-underline-position: below;
 }

 #point {
  color: aliceblue;
  font-family: asakim ;
 }

 #point h3 {
  padding-top: 1rem;
 text-align: center;
font-size: 2rem;
 }
 
#point h4 {
  display: flex;
  justify-content: center;
  line-height: 2rem;
  font-size: 1.5rem;
  
}

#point h2{
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
}

#clickhere {
  text-align: center;
  padding-top: 1rem;
}

#bttn {
background-color: transparent;
border-image: linear-gradient(to bottom, #eebd89, #d13abd) 1;
}

#start{
  background-image: linear-gradient(to bottom, #eebd89, #d13abd);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.1px black;
  font-family: karantinab;
  font-size: 2.5rem;
}

#ftr {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 body {
  background-color: black;
 }

 nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.703);
}

nav a {
font-family: karantina;
display: block;
text-align: center;
color: white;
text-decoration: none;
font-size: 2.5rem;
}

nav a:hover {
  background-image: linear-gradient(to bottom, #eebd89, #d13abd);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.1px black;
}